/* global styling */

* {
    box-sizing: border-box;
}
:root{
    --primary-color: #333;
    --accent-color: #000;
    --background-color: #fff;
    --border-color: #fff;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;

}

/* nav */
nav {
    background-color: var(--background-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:var(--background-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid var(--border-color);
    text-decoration: none;
    color: var(--primary-color);
}

nav ul li a:hover {
    color: var(--accent-color);
}

#active {
    background-color: var(--primary-color);
    color: var(--background-color);
}

#active :hover {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    margin: 30px 5px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.small_hero{
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    margin: 30px 5px;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    color: var(--border-color);
    width: 100%;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.small_hero h1 {
    color: var(--border-color);
    width: 100%;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

/* container */

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.questionsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContainer form{
    display: flex;
    width: 40vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContainer form input{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
}

.formContainer form textarea{
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
}
/* footer*/
footer {
    width: 100%;
    height: 25vh;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--border-color);
    text-align: center;
}
.titleContainer{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foot_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

